.item {
  color: #c5c090;
  padding: 10px;
  ;
}
.likecount span {
  padding: 2px;
  background-color: #c5c090;
  border: 1px solid #c5c090;
  border-radius: 19px;
  color: #222222;

}

.likecount {
  margin-top: 10px;
}

.likeBtn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #c5c090;
  color: #222222;
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 10px;
}