.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems  {
    padding: 10px;
    color: #888888;

}
.dialogsItems .active {
    color: #c5c090;
}

.dialog {

}

.messages {
    padding: 10px;

}

.messages .messange {


}