.nav {
    grid-area: nav;
    background-color: forestgreen;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.item a.activeLink {
    color: gold;
}